/* Small devices (landscape phones, 576px and up)*/
@media (min-width: 576px) { ... }

/*Medium devices (tablets, 768px and up)*/
@media (min-width: 768px) { ... }

/*Large devices (desktops, 992px and up)*/
@media (min-width: 992px) { ... }

/*Extra large devices (large desktops, 1200px and up)*/
@media (min-width: 1200px) { ... }
body{
  font-family: 'BioRhyme';
}
h2 {
  font-weight: 400;
  margin: 15px auto;
}
#myCanvas {
  display: inline;
  width: 1200px;
  height: 800px;
  display: block;
  margin: 10px auto;
  background-color: white;
}

#myCanvas tr {
  border: 1px solid black;
}
#myCanvas td {
  border: 1px solid black;
}

.outline {
  background-color: black;
}

#palette{
  padding-left: 50px;
  padding-right: 0px;
  float: left;
  width: 300px;
  height: 800px;
  margin: 10px auto;
  background-color: white;
  display: inline;
}

#palette tr td {
  border: 1px solid black;
}
